<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectDB" connectionString="server=sql11.freesqldatabase.com;port=3306;username=sql11492137;password=ID7VprPkW6;database=sql11492137;SSL Mode=None"/>					
	</connectionStrings>
</configuration>